@use "../colors" as *;
@use "./variables" as *;
@use "../animations" as *;

@mixin transition {
    transition: $transition;
}

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 37.5em) {
            @content;
        } // 600px
    }

    @if $breakpoint==tab-port {
        @media (max-width: 56.25em) {
            @content;
        } // 900px
    }

    @if $breakpoint==from-tab-land {
        @media (min-width: 56.25em) {
            @content;
        } // 900px
    }

    @if $breakpoint==tab-land {
        @media (max-width: 75em) {
            @content;
        } //1200px
    }

    @if $breakpoint==big-desk {
        @media (min-width: 112.5em) {
            @content;
        } //1800px
    }
}

@mixin scrollBar($width) {
    &::-webkit-scrollbar {
        width: $width;

        @include respond(tab-land) {
            display: none;
        }
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary;

        &:hover {
        }
    }
}

@mixin input() {
    background-color: transparent;
    width: 500px;
    height: 40px;
    font-size: 2rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid $color-gray;
    transition: all 0.4s ease-in-out;
    outline: none;
    &:-webkit-autofill,
    &:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 50px white inset;
        box-shadow: 0 0 0 50px white inset;
        -webkit-text-fill-color: #333;
    }
}
